<link href="/src/css/homecover.css" rel="stylesheet">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">xScout</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Features</a></li>
              <li class="active"><a href="/pricing">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Pricing</h1>
        <p class="lead">
          In terms of costs, xScout is 100% free, forever! xScout is MIT-licensed, meaning that everything about xScout, including the source code, is completely free. No strings attached.
        </p>
        <p class="lead">
          Although xScout is free, we do ask that you give back by contributing to xScout. If you are good with computers, check out our <a href="http://github.com/NETponents/xScout">GitHub repository</a>. If you ever run into trouble (development only), you can directly contact the developers on our <a href="http://gitter.im/NETponents/xScout">Gitter channel</a>(Requires a GitHub account).
        </p>
        <p class="lead">
          <a href="http://github.com/NETponents/xScout" class="btn btn-lg btn-default">Start Contributing</a>
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Copyright &copy 2015 NETponents &middot; Version: #{@TRAVISBUILDNUMBER}</p>
        </div>
      </div>
    </div>
  </div>
</div>
