<link href="/src/css/homecover.css" rel="stylesheet">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">xScout</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="/features">Features</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <li class="active"><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Contact</h1>
        <p class="lead">
          Because we are so early in development, we are expecting a lot of bugs and feature requests. Please file them at <a href="http://github.com/NETponents/xScout/issues">http://github.com/NETponents/xScout/issues</a>. If you have an account related question, please email us at <a href="mailto:netponents@outlook.com">netponents@outlook.com</a>.
        </p>
        <p class="lead">
          <a href="http://github.com/NETponents/xScout/issues" class="btn btn-lg btn-default">File an issue</a>
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Copyright &copy 2015 NETponents &middot; Version: #{@TRAVISBUILDNUMBER}</p>
        </div>
      </div>
    </div>
  </div>
</div>
