<link href="/src/css/homecover.css" rel="stylesheet">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">xScout</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li class="active"><a href="/features">Features</a></li>
              <li><a href="/pricing">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">Features</h1>
        <p class="lead">
          xScout allows scouts to track their progress online, easily, and for free. As of right now, only Boy Scouts may create personal accounts and track their own progress. Leader/parent accounts and Cub Scout functionality is coming soon.
        </p>
        <p class="lead">
          Right now, xScout is still under development. Keep checking back for more information about release dates.
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Sign up now</a>
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Copyright &copy 2015 NETponents &middot; Version: #{@TRAVISBUILDNUMBER}</p>
        </div>
      </div>
    </div>
  </div>
</div>
