<link href="/src/css/homecover.css" rel="stylesheet">
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">xScout</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="inner cover">
        <h1 class="cover-heading">xScout</h1>
        <p class="lead">xScout is your one-stop solution for tracking Boy Scouts and Cub Scouts. It works on any number of scouts, from 1 to 1000, we've got you covered.</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-default">Learn more</a>
        </p>
      </div>
      <div class="mastfoot">
        <div class="inner">
          <p>Copyright &copy 2015 NETponents &middot; Version: #{@TRAVISBUILDNUMBER}</p>
        </div>
      </div>
    </div>
  </div>
</div>
